@import url(http://fonts.googleapis.com/css?family=Courgette);


.brand {
    font-family: 'Courgette', cursive;
}

.head .brand{
    padding: 20px 20px;
    color: #fff;
    height: 50px;
    line-height: 20px;
}

.head .logo img {
    width: 64px;
    height: auto;
}

.footer-info .brand {
    padding: 3px 15px;
    height: 32px !important;
    line-height: normal !important;
}

.x-large {
    font-size: 50px;
}

.float-left {
    float: left;
}


.our-clients, .clients-logos {
    display: none;
}