@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(flags.css);

/* GENERAL SECTION
-------------------------------------------------- */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
}

/* HEAEDER
-------------------------------------------------- */
.logo {
    padding-top: 8px;
}

.logo img {
    height: 32px;
    width: auto;
}

.brand {
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.brand.small {
    font-size: 9px;
}

.brand.normal {
    font-size: 15px;
}

.brand.large {
    font-size: 25px;
}

.header {
    margin-bottom: 0;
    border-radius: 0;
}

#AllFavorites span,
#getFavoriteUI i {
    color: #e2264d;
}

#AddFavorite span {
    color: #f0ad4e;
}

/* MAP
-------------------------------------------------- */
#map_canvas {
    background-color: #F8F8F8;
    padding: 0 !important;
    /*border: 1px solid #E7E7E7;*/
    width: 100%;
    height: 100%;
}

#map {
    display: block;
}

/* OVERRIDE BOOTSTRAP
-------------------------------------------------- */
.col-centered {
    float: none;
    margin: 0 auto;
}

.modal-dialog {
}

.modal-content {
    border: 5px solid #E7E7E7;
}

.modal-header {
    background-color: #E7E7E7;
}

.modal-header {
    background-color: #E7E7E7;
}

.error .modal-content {
    border: 5px solid #d9534f;
}

.error .modal-header {
    background-color: #d9534f;
}

.error .modal-header {
    background-color: #d9534f;
}

.modal-title {
    color: black;
}

.no-radius {
    border-radius: 0 !important;
}

.no-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.no-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bootstrap-select .dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.bootstrap-select *:focus {
    outline: 0;
}

/* OVERRIDE BOOTSTRAP SWITCH
-------------------------------------------------- */
.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-handle-on {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* FOOTER
-------------------------------------------------- */
#footer {
    height: 51px;
    background-color: #f5f5f5;
    border: 1px solid #E7E7E7;
}

#footer a {
    color: #777 !important;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.version {
    color: #8E8E8E;
    font-size: 11px;
}

/* Custom page CSS
-------------------------------------------------- */

.container .text-muted {
    margin: 17px 0;
}

.refreshable.active, .refreshable:active {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* GMaps controls CSS
-------------------------------------------------- */

#getFavoriteUI,
#goCenterUI {
    background-color: #fff;
    color: #747474;
    border: 2px solid #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin: 8px;
    text-align: center;
    width: 28px;
    height: 27px;
    -webkit-user-select: none;
}

.gm-style-iw .form-group {
    margin-bottom: 0 !important;
}

.container-map-location-search .glyphicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: #777;
    line-height: 40px;
    text-align: center;
}

.container-map-location-search {
    position: absolute;
    top: 66px;
    right: 20px;
    z-index: 4;
    background-color: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

.container-map-location-search #map-location-search:focus {
    width: 250px;
    border: none;
    opacity: 1;
    cursor: text;
}

.container-map-location-search #map-location-search {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -o-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -webkit-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -moz-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -ms-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -o-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    transition: all .25s cubic-bezier(.345, 0, .25, 1);
}