@import url(http://fonts.googleapis.com/css?family=Courgette);

html, body {
    height: 100%;
}

.brand {
    font-family: 'Courgette', cursive;
}

.head .brand{
    padding: 20px 20px;
    color: #fff;
    height: 50px;
    line-height: 20px;
}

.head .logo img {
    width: 64px;
    height: auto;
}

a.store img {
    width: 220px;
    margin-top: 10px;
}

.iphone-alone {
    width:280px;
}

.footer-info .brand {
    padding: 3px 15px;
    height: 32px !important;
    line-height: normal !important;
}

.x-large {
    font-size: 50px;
}

.float-left {
    float: left;
}


.our-clients, .clients-logos {
    display: none;
}


.textarea-box {
    height: 200px !important;
}


.thankyou .head {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -98px;
}
.thankyou .head:after {
    content: "";
    display: block;
}
.thankyou footer, .thankyou .head:after {
    height: 98px;
}
.thankyou footer {

}