# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws


# project files
/plugins
/_garbage_
/platforms
