# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws


# project files
_phplite
/resources
/plugins
/tmp
/_garbage_
/platforms
/app/old
/app/lib
/node_modules
/www
/dist
/www
/build.json
