@import url(http://fonts.googleapis.com/css?family=Courgette);

/* GENERAL SECTION
-------------------------------------------------- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    overflow: hidden;
}

*:focus,
*:active {
    outline: 0;
}

html {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection {
    background: transparent;
    color: inherit;
}

::-moz-selection {
    background: transparent;
    color: inherit;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    /*margin: 0 auto -51px;*/

    margin: 0 auto;
    background-color: #f8f8f8;
}

/* AngularJS SECTION
-------------------------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* HEAEDER
-------------------------------------------------- */
.header {
    z-index: 100;
}

.logo {
    padding-top: 8px;
}

.logo img {
    height: 36px;
    width: auto;
}

.brand {
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.brand.small {
    font-size: 9px;
}

.brand.normal {
    font-size: 15px;
}

.brand.large {
    font-size: 25px;
}

.header {
    margin-bottom: 0;
    border-radius: 0;
}

#AllFavorites span,
#getFavoriteUI i {
    color: #e2264d;
}

#AddFavorite span,
#setFavoriteUI i {
    color: #f0ad4e;
}

/* MAP
-------------------------------------------------- */
#map_canvas {
    background-color: #F8F8F8;
    padding: 0 !important;
    /*border: 1px solid #E7E7E7;*/
    width: 100%;
    height: 100%;
}

#map {
    display: block;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
}

/* OVERRIDE BOOTSTRAP
-------------------------------------------------- */
.col-centered {
    float: none;
    margin: 0 auto;
}

.modal-dialog {
}

.modal-content {
    border: 5px solid #E7E7E7;
}

.modal-header {
    background-color: #E7E7E7;
}

.error .modal-content {
    border: 5px solid #d9534f;
}

.error .modal-header {
    background-color: #d9534f;
}

.error .modal-header {
    background-color: #d9534f;
}

.modal-title {
    color: black;
}

.no-radius {
    border-radius: 0 !important;
}

.no-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.no-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.float-left {
    float: left;
}

.no-padding {
    padding: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bootstrap-select .dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.bootstrap-select *:focus {
    outline: 0;
}

.places-grid .empty {
    height: 38px;
    padding: 5px 0;
}

.places-grid:empty:before,
.places-grid .empty:before {
    content: 'No Places.';
}

.places-grid .row {
    padding: 2px 0;
}

.place-name {
    border: 0;
    font-weight: normal;
    padding-bottom: 0;
}

.editable-cancel {
    display: none;
}

/*.places-grid .row:nth-child(odd) > div {
    background-color: #E7E7E7;
}

.places-grid .row:nth-child(even) > div {
    background-color: white;
}*/

.help-block {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.places-grid + .help-block {
    margin-bottom: 0;
}

.places-grid:empty + .help-block {
    display: none;
}

.navmenu-nav {
    margin-top: 45px;
    margin-left: 15px;
}

.navmenu-nav .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* OVERRIDE BOOTSTRAP SWITCH
-------------------------------------------------- */
.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-handle-on {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* FOOTER
-------------------------------------------------- */
#footer {
    height: 51px;
    background-color: #f5f5f5;
    border: 1px solid #E7E7E7;
}

#footer a {
    color: #777 !important;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.version {
    color: #8E8E8E;
    font-size: 11px;
}

/* Custom page CSS
-------------------------------------------------- */

.container .text-muted {
    margin: 17px 0;
}

.refreshable.active, .refreshable:active {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* GMaps controls CSS
-------------------------------------------------- */
.gm-style {
    font-family: inherit !important;
}

.gm-style .gm-style-iw {
    font-size: 14px !important;
    font-weight: 400 !important;
}

#getFavoriteUI,
#setFavoriteUI,
#goCenterUI {
    background-color: #fff;
    color: #747474;
    border-radius: 2px;
    cursor: pointer;
    margin: 8px;
    text-align: center;
    width: 45px;
    height: 45px;
    -webkit-user-select: none;
    position: absolute;
    z-index: 4;
    border: 1px solid #bbb;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -webkit-tap-highlight-color: rgba(145, 145, 145, 0.5);
}

#getFavoriteUI i,
#setFavoriteUI i,
#goCenterUI i {
    margin-top: 10px;
}

#getFavoriteUI {
    bottom: 26px !important;
}

.place {
    width: 200px;
}

.gm-style-iw .form-group {
    margin-bottom: 0 !important;
}

.gm-style-iw .form-group.info {
    margin-top: 1px !important;
}

.pac-item {
    padding: 5px 4px;
    font-size: 14px;
}

#floating-logo {
    position: absolute;
    top: 6px;
    z-index: 4;
    float: left;
    width: 150px;
}
#floating-logo .navbar-brand{
    color : #555;
    text-shadow: 0 0 2px #fff;
}

#extra-controller {
    position: relative;
    top: 6px;
    z-index: 4;
    float: right;
}

#container-xs-menu .glyphicon,
#container-map-location-search .glyphicon {
    position: absolute;
    top: 0;
    left: 2px;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: #777;
    line-height: 40px;
    text-align: center;

}

#container-xs-menu,
#container-map-location-search {
    float: left;
    margin-right: 7px;
    position: relative;
    background-color: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}


#container-map-location-search #map-location-search:focus {
    width: 250px;
    border: none;
    opacity: 1;
}

#container-xs-menu #xs-menu {
    position: relative;
    width: 42px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -o-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
}

#container-map-location-search #map-location-search {

    position: relative;
    width: 42px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -o-box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    box-shadow: 0 0 3px 0 rgba(0, 188, 102, .25);
    -webkit-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -moz-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -ms-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    -o-transition: all .25s cubic-bezier(.345, 0, .25, 1);
    transition: all .25s cubic-bezier(.345, 0, .25, 1);
}

.clearable {
    background-color: white;
    background-image: url('../img/close.png');
    background-position: right -18px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border: 1px solid #999;
    padding: 3px 32px 3px 10px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}

.clearable.x {
    background-position: right 10px center;
}

/* (jQ) Show icon */
.clearable.onX {
    cursor: pointer;
}

/* (jQ) hover cursor style */
.clearable::-ms-clear {
    /* Remove IE default X */
    display: none;
    width: 0;
    height: 0;
}

/* Offline css
-------------------------------------------------- */
.responsive-container {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

p.message {
    text-align: center;
    font-size: 25px;
}

/* Settings Modal
-------------------------------------------------- */
img.settings {
    width: 32px;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #66D675;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 20px;
    margin: 7px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.centermapswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.centermapswitch-checkbox {
    display: none;
}

.centermapswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.centermapswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.centermapswitch-inner:before, .centermapswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.centermapswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #42A5F5;
    color: #FFFFFF;
}

.centermapswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #42A5F5;
    color: #FFFFFF;
    text-align: right;
}

.centermapswitch-switch {
    display: block;
    width: 20px;
    height: 20px;
    margin: 7px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.centermapswitch-checkbox:checked + .centermapswitch-label .centermapswitch-inner {
    margin-left: 0;
}

.centermapswitch-checkbox:checked + .centermapswitch-label .centermapswitch-switch {
    right: 0px;
}

@media (max-width: 767px) {
    .settings-grid label.control-label {
        padding-top: 7px;
    }

    .navbar-brand.brand {
        padding-left: 0px;
    }

    .header {
        min-height: 0;
    }
}

/* Input range   --------- */

.rang-wrapper {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    padding: 10px;
}

/* Webkit */
.safari input[type=range],
.chrome input[type=range],
.opera input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    margin-top: 6px;
}

.safari input[type='range']::-webkit-slider-thumb,
.chrome input[type='range']::-webkit-slider-thumb,
.opera input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Mozilla */
.firefox input[type=range] {
    width: 100%;
}

.firefox input[type=range]::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

.firefox input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Internet Explorer */
.ie input[type="range"]::-ms-fill-lower,
.ie input[type="range"]::-ms-fill-upper {
    background: transparent;
}

.ie input[type="range"]::-ms-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

.ie input[type="range"]::-ms-thumb {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* xeditable  override   --------- */

form.editable-wrap {
    background-color: white;
}

.places-grid .editable-up {
    z-index: 2;
}

.places-grid .editable-up .form-control-static {
    padding-top: 5px !important;
}

.places-grid .editable-down {
    z-index: 1;
}

/* IOS fixes   --------- */
body.ios {
}

.ios .navbar-header,
.ios #extra-controller,
.ios #floating-logo,
.ios .bootbox.modal.fade.in {
    margin-top: 20px;
}
