<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" id="name" placeholder="Name" value="" ng-model="parameter.placeName">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success edit_marker" ng-click="parameter.save()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <!--<button type="reset" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>-->
                </span>
    </div>
</div>