# prepare error page
ErrorDocument 403 /403.html
#ErrorDocument 404 /404.html
#ErrorDocument 500 /500.html

# limit indexing of directories
Options -Indexes -MultiViews 

# disable the server signature
ServerSignature Off

# force mime for .webapp (firefox OS Only)
AddType application/x-web-app-manifest+json .webapp

# force mime for appcache
AddType text/cache-manifest .appcache
<ifmodule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/cache-manifest "access plus 0 seconds"
</ifmodule>

#force no cache
<filesMatch "\.(html|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Tue, 01 Jan 1980 1:00:00 GMT"
  </ifModule>
</filesMatch>